<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.EngineMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.Engine">
    <!--@mbg.generated-->
    <!--@Table engine-->
    <id column="engineid" jdbcType="VARCHAR" property="engineid" />
    <result column="enginename" jdbcType="VARCHAR" property="enginename" />
  </resultMap>
</mapper>