<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.VipMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.Vip">
    <!--@mbg.generated-->
    <!--@Table vip-->
    <id column="vipid" jdbcType="VARCHAR" property="vipid" />
    <result column="viplb" jdbcType="VARCHAR" property="viplb" />
    <result column="vipjglx" jdbcType="VARCHAR" property="vipjglx" />
    <result column="vipyxq" jdbcType="DATE" property="vipyxq" />
    <result column="vipjg" jdbcType="VARCHAR" property="vipjg" />
  </resultMap>
</mapper>